textarea {
  min-height: 400px;
}

/* Single email styling  */
.email {
  line-height: 30px;
  padding: 10px;
  padding-left: 25px;
  margin: 20px;
  text-align: left;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 5px;
}

.read {
  background-color: LightGray;
}

.unread {
  background-color: white;
}

.archive {
  margin-right: 10px;
}
