{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<div class="container-dash">
  <div class="col">
    <h2>{{ request.user.email }}</h2>
    <img src="/static/logo-light.png" style="width:175px">
  </div>
  <div class="row">
    <div>
      <button class="button-dash" id="inbox">Inbox</button>
      <button class="button-dash" id="compose">Compose</button>
      <button class="button-dash" id="sent">Sent</button>
      <button class="button-dash" id="archived">Archived</button>
    </div>
      <div class="button-logout">
        <a href="{% url 'logout' %}">Log Out</a>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="container-view" id="emails-view">

</div>

<!-- Div element 2: shows contents of single email. Bootstrap grid. Values plugged into via JS. -->
<div id="email-view">
  <div class="container">
    <div class="container-view">
      <div style="display: flex; gap: 25px;">
      <div class="">
        <p class="">From: </p>
        <p>To: </p>
        <p>Subject: </p>
        <p>Recieved: </p>
      </div>
      <div class="">
        <p id='from'></p>
        <p id='to'></p>
        <p id='subject'></p>
        <p id='date'></p>
      </div>
      </div>
      <div id="emailBody" class=""></div>
      <button id='replyButton' class="">Reply</button>
    </div>
  </div>
</div>

<!-- Div element 3: shows compose email form -->
<div id="compose-view">
  <h3 id="NewOrReply"></h3>
  <form id="compose-form">
    <div class="form-group">
      From: <input disabled class="form-control" value="{{ request.user.email }}">
    </div>
    <div class="form-group">
      To: <input id="compose-recipients" class="form-control">
    </div>
    <div class="form-group">
      <input class="form-control" id="compose-subject" placeholder="Subject">
    </div>
    <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
    <input type="submit" class="button-send" value="Send"/>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'inbox.js' %}"></script>
{% endblock %}
