{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Mail{% endblock %}</title> <!-- Dynamic title block -->
    <link rel="stylesheet" href="{% static 'mail/styles.css' %}"> <!-- Link to the main stylesheet -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet"> <!-- Google Font Nunito -->
    <link rel="icon" type="image/svg+xml" href="{% static 'mail/favicon.ico' %}" /> <!-- Favicon for the page -->
    {% block script %}
    {% endblock %} <!-- Placeholder for additional scripts -->
</head>

<body>
    <div class="container"> <!-- Main container for the page content -->
        {% block body %}
        {% endblock %} <!-- Placeholder for the body content -->
    </div>
</body>

</html>