{% extends "mail/layout.html" %}

{% block body %}
    <div class="container-login"> <!-- Main container for the login page -->
        <div>
            <img src="/static/mail/logo.png" style="width:300px;"> <!-- Logo for the page -->
            <h2 style="margin-top: 80px;">Login</h2> <!-- Login header -->
        </div>
        <div>
            {% if message %}
                <div class="error">{{ message }}</div> <!-- Display error message if present -->
            {% endif %}

            <!-- Login form -->
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %} <!-- CSRF token for security -->
                <div class="form-group">
                    <input autofocus class="form-control" type="email" name="email" placeholder="Email"> <!-- Email input field -->
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password"> <!-- Password input field -->
                </div>
                <input class="button-primary" type="submit" value="Login"> <!-- Submit button -->
            </form>

            <!-- Link to registration page -->
            <p style="font-size: 14px;">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
        </div>
    </div>
{% endblock %}