{% extends "mail/layout.html" %}

{% block body %}
    <div class="container-login"> <!-- Main container for the registration page -->
        <div>
            <img src="/static/mail/logo.webp" style="width:300px;"> <!-- Logo for the page -->
            <h2 style="margin-top: 80px;">Register</h2> <!-- Registration header -->
        </div>
        <div>
            {% if message %}
                <div class="error">{{ message }}</div> <!-- Display error message if present -->
            {% endif %}

            <!-- Registration form -->
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %} <!-- CSRF token for security -->
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address"> <!-- Email input field -->
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password"> <!-- Password input field -->
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password"> <!-- Confirm password input field -->
                </div>
                <input class="button-primary" type="submit" value="Register"> <!-- Submit button -->
            </form>

            <!-- Link to login page -->
            <p style="font-size: 14px;">Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
        </div>
    </div>
{% endblock %}