body {
    height: 95vh;
    font-family: Nunito, Arial;
    background-color: #f0f3f5;
}
h3 {
    margin-top: 0;
}
a {
    color: #0b800c;
}
button {
    width: 100%;
    padding: 12px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-top: 25px;
    font-weight: bold;
    border-radius: 25px;
    font-family: Nunito, Arial;
    background-color: #0b800c;
    border: 1px solid transparent;
}
textarea {
    min-height: 100%;
}
input {
    font-family: Nunito, Arial;
}
input:disabled {
    background-color: #f0f3f5;
}
.container-login {
    left: 0;
    right: 0;
    top: 150px;
    width: 325px;
    height: 500px;
    bottom: 150px;
    display: flex;
    padding: 30px 30px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    position: absolute;
    border-radius: 16px;
    align-content: center;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-between;
    border-top: 1px solid #f1f1f5;
    box-shadow: 0 0 1px 0 rgba(29,34,40,.1),0 2px 4px 0 rgba(29,34,40,.08);
}
.container-dash {
    margin-top: 10px;
    padding: 30px 30px;
    background: white;
    border-radius: 16px;
    margin-bottom: 25px;
    border-top: 1px solid #f1f1f5;
    box-shadow: 0 0 1px 0 rgba(29,34,40,.1),0 2px 4px 0 rgba(29,34,40,.08);
}
.container-view {
    padding: 30px 30px;
    background: white;
    border-radius: 16px;
    border-top: 1px solid #f1f1f5;
    box-shadow: 0 0 1px 0 rgba(29, 34, 40, .1), 0 2px 4px 0 rgba(29, 34, 40, .08);
}
#compose-view {
    padding: 30px 30px;
    background: white;
    border-radius: 16px;
    border-top: 1px solid #f1f1f5;
    box-shadow: 0 0 1px 0 rgba(29, 34, 40, .1), 0 2px 4px 0 rgba(29, 34, 40, .08);
}
#emailBody {
    padding: 15px;
    min-height: 350px;
    border-radius: 15px;
    border: 1px solid #f1f1f5;
}
#replyButton {
    width: 135px;
}
.col {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    border: 0;
    width: 100%;
    font-size: 20px;
    border-bottom: 1px solid #0b800c;
}
.button-primary {
    width: 100%;
    padding: 15px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    background-color: #0b800c;
    border: 1px solid transparent;
}
.button-dash {
    width: 135px;
    margin-top: 0;
}
.button-logout {
    width: 175px;
    height: 43px;
    display: grid;
    text-align: center;
    align-items: center;
}
.button-send {
    font-family: Nunito, Arial;
    width: 135px;
    padding: 12px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 25px;
    font-weight: bold;
    border-radius: 25px;
    background-color: #0b800c;
    border: 1px solid transparent;
}
.button-email-view {
    width: 135px;
    margin-top: 0;
    margin-left: auto;
}
.button-email-archieve {
    width: 135px;
    margin-top: 0;
    margin-left: 10px;
}
.error {
    color: red;
    margin-bottom: 10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.email {
    gap: 10px;
    margin: 0;
    display: flex;
    padding: 10px;
    text-align: left;
    overflow: hidden;
    line-height: 30px;
    padding-left: 25px;
    border-radius: 15px;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #f0f3f5;
}
.read {
    background-color: #f0f3f5;
}
.unread {
    background-color: white;
}
.archive {
    margin-right: 10px;
}